{{ define "main" }}

<article>
  <header>
    <h1>
      <span
        style="
          text-transform: uppercase;
          background: #2d2e36;
          color: #ffffff;
          padding: 4px 12px 4px 12px;
        "
        >{{ .Title }}</span
      >
      <span
        style="
          text-transform: uppercase;
          background: #2d2e36ff;
          color: #ffffff;
          padding: 4px 12px 4px 12px;
        "
        >{{ .Params.period }}</span
      >
    </h1>
  </header>
  {{ .Content }}
</article>

{{ end }}
